---
## Max:

In [207]:
import pandas as pd

Athlete_events = pd.read_csv("Data/athlete_events.csv")
Noc_regions = pd.read_csv("Data/noc_regions.csv")

df_athlete = pd.DataFrame(Athlete_events)
df_regions = pd.DataFrame(Noc_regions)

## A
Hur många länder är med i datan

In [208]:
len(df_regions["region"].unique())

207

In [209]:
df_regions

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [210]:
df_regions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

In [211]:
df_regions

     NOC       region                 notes
0    AFG  Afghanistan                   NaN
1    AHO      Curacao  Netherlands Antilles
2    ALB      Albania                   NaN
3    ALG      Algeria                   NaN
4    AND      Andorra                   NaN
..   ...          ...                   ...
225  YEM        Yemen                   NaN
226  YMD        Yemen           South Yemen
227  YUG       Serbia            Yugoslavia
228  ZAM       Zambia                   NaN
229  ZIM     Zimbabwe                   NaN

[230 rows x 3 columns]

In [212]:
A_sort = df_regions[df_regions['NOC'].str.startswith('A')]

A_sort

# 10 ARUBA 
# 11 ASA

    NOC          region                 notes
0   AFG     Afghanistan                   NaN
1   AHO         Curacao  Netherlands Antilles
2   ALB         Albania                   NaN
3   ALG         Algeria                   NaN
4   AND         Andorra                   NaN
5   ANG          Angola                   NaN
6   ANT         Antigua   Antigua and Barbuda
7   ANZ       Australia           Australasia
8   ARG       Argentina                   NaN
9   ARM         Armenia                   NaN
10  ARU           Aruba                   NaN
11  ASA  American Samoa                   NaN
12  AUS       Australia                   NaN
13  AUT         Austria                   NaN
14  AZE      Azerbaijan                   NaN

In [213]:
B_sort = df_regions[df_regions['NOC'].str.startswith('B')]

B_sort

    NOC                  region    notes
15  BAH                 Bahamas      NaN
16  BAN              Bangladesh      NaN
17  BAR                Barbados      NaN
18  BDI                 Burundi      NaN
19  BEL                 Belgium      NaN
20  BEN                   Benin      NaN
21  BER                 Bermuda      NaN
22  BHU                  Bhutan      NaN
23  BIH  Bosnia and Herzegovina      NaN
24  BIZ                  Belize      NaN
25  BLR                 Belarus      NaN
26  BOH          Czech Republic  Bohemia
27  BOL                  Boliva      NaN
28  BOT                Botswana      NaN
29  BRA                  Brazil      NaN
30  BRN                 Bahrain      NaN
31  BRU                  Brunei      NaN
32  BUL                Bulgaria      NaN
33  BUR            Burkina Faso      NaN

In [214]:
C_sort = df_regions[df_regions['NOC'].str.startswith('C')]

C_sort

# 37 cayman island british

    NOC                            region  notes
34  CAF          Central African Republic    NaN
35  CAM                          Cambodia    NaN
36  CAN                            Canada    NaN
37  CAY                    Cayman Islands    NaN
38  CGO                 Republic of Congo    NaN
39  CHA                              Chad    NaN
40  CHI                             Chile    NaN
41  CHN                             China    NaN
42  CIV                       Ivory Coast    NaN
43  CMR                          Cameroon    NaN
44  COD  Democratic Republic of the Congo    NaN
45  COK                      Cook Islands    NaN
46  COL                          Colombia    NaN
47  COM                           Comoros    NaN
48  CPV                        Cape Verde    NaN
49  CRC                        Costa Rica    NaN
50  CRO                           Croatia    NaN
51  CRT                            Greece  Crete
52  CUB                              Cuba    NaN
53  CYP                            Cyprus    NaN
54  CZE                    Czech Republic    NaN

In [215]:
E_sort = df_regions[df_regions['NOC'].str.startswith('E')]

E_sort

    NOC       region notes
59  ECU      Ecuador   NaN
60  EGY        Egypt   NaN
61  ERI      Eritrea   NaN
62  ESA  El Salvador   NaN
63  ESP        Spain   NaN
64  EST      Estonia   NaN
65  ETH     Ethiopia   NaN
66  EUN       Russia   NaN

In [216]:
F_sort = df_regions[df_regions['NOC'].str.startswith('F')]

F_sort

    NOC      region notes
67  FIJ        Fiji   NaN
68  FIN     Finland   NaN
69  FRA      France   NaN
70  FRG     Germany   NaN
71  FSM  Micronesia   NaN

In [217]:
G_sort = df_regions[df_regions['NOC'].str.startswith('G')]

G_sort

    NOC             region notes
72  GAB              Gabon   NaN
73  GAM             Gambia   NaN
74  GBR                 UK   NaN
75  GBS      Guinea-Bissau   NaN
76  GDR            Germany   NaN
77  GEO            Georgia   NaN
78  GEQ  Equatorial Guinea   NaN
79  GER            Germany   NaN
80  GHA              Ghana   NaN
81  GRE             Greece   NaN
82  GRN            Grenada   NaN
83  GUA          Guatemala   NaN
84  GUI             Guinea   NaN
85  GUM               Guam   NaN
86  GUY             Guyana   NaN

In [218]:
H_sort = df_regions[df_regions['NOC'].str.startswith('H')]

H_sort

## 88 HGK china

    NOC    region      notes
87  HAI     Haiti        NaN
88  HKG     China  Hong Kong
89  HON  Honduras        NaN
90  HUN   Hungary        NaN

In [219]:
I_sort = df_regions[df_regions['NOC'].str.startswith('I')]

I_sort


#

     NOC                       region                        notes
91   INA                    Indonesia                          NaN
92   IND                        India                          NaN
93   IOA  Individual Olympic Athletes  Individual Olympic Athletes
94   IRI                         Iran                          NaN
95   IRL                      Ireland                          NaN
96   IRQ                         Iraq                          NaN
97   ISL                      Iceland                          NaN
98   ISR                       Israel                          NaN
99   ISV           Virgin Islands, US               Virgin Islands
100  ITA                        Italy                          NaN
101  IVB      Virgin Islands, British                          NaN

In [220]:
J_sort = df_regions[df_regions['NOC'].str.startswith('J')]

J_sort

     NOC   region notes
102  JAM  Jamaica   NaN
103  JOR   Jordan   NaN
104  JPN    Japan   NaN

In [221]:
K_sort = df_regions[df_regions['NOC'].str.startswith('K')]

K_sort

     NOC        region notes
105  KAZ    Kazakhstan   NaN
106  KEN         Kenya   NaN
107  KGZ    Kyrgyzstan   NaN
108  KIR      Kiribati   NaN
109  KOR   South Korea   NaN
110  KOS        Kosovo   NaN
111  KSA  Saudi Arabia   NaN
112  KUW        Kuwait   NaN

In [222]:
L_sort = df_regions[df_regions['NOC'].str.startswith('L')]

L_sort

     NOC         region notes
113  LAO           Laos   NaN
114  LAT         Latvia   NaN
115  LBA          Libya   NaN
116  LBR        Liberia   NaN
117  LCA    Saint Lucia   NaN
118  LES        Lesotho   NaN
119  LIB        Lebanon   NaN
120  LIE  Liechtenstein   NaN
121  LTU      Lithuania   NaN
122  LUX     Luxembourg   NaN

In [223]:
M_sort = df_regions[df_regions['NOC'].str.startswith('M')]

M_sort

     NOC            region notes
123  MAD        Madagascar   NaN
124  MAL          Malaysia   NaN
125  MAR           Morocco   NaN
126  MAS          Malaysia   NaN
127  MAW            Malawi   NaN
128  MDA           Moldova   NaN
129  MDV          Maldives   NaN
130  MEX            Mexico   NaN
131  MGL          Mongolia   NaN
132  MHL  Marshall Islands   NaN
133  MKD         Macedonia   NaN
134  MLI              Mali   NaN
135  MLT             Malta   NaN
136  MNE        Montenegro   NaN
137  MON            Monaco   NaN
138  MOZ        Mozambique   NaN
139  MRI         Mauritius   NaN
140  MTN        Mauritania   NaN
141  MYA           Myanmar   NaN

In [224]:
N_sort = df_regions[df_regions['NOC'].str.startswith('N')]

N_sort

     NOC       region         notes
142  NAM      Namibia           NaN
143  NBO     Malaysia  North Borneo
144  NCA    Nicaragua           NaN
145  NED  Netherlands           NaN
146  NEP        Nepal           NaN
147  NFL       Canada  Newfoundland
148  NGR      Nigeria           NaN
149  NIG        Niger           NaN
150  NOR       Norway           NaN
151  NRU        Nauru           NaN
152  NZL  New Zealand           NaN

In [225]:
O_sort = df_regions[df_regions['NOC'].str.startswith('O')]

O_sort

     NOC region notes
153  OMA   Oman   NaN

In [226]:
P_sort = df_regions[df_regions['NOC'].str.startswith('P')]

P_sort

     NOC            region notes
154  PAK          Pakistan   NaN
155  PAN            Panama   NaN
156  PAR          Paraguay   NaN
157  PER              Peru   NaN
158  PHI       Philippines   NaN
159  PLE         Palestine   NaN
160  PLW             Palau   NaN
161  PNG  Papua New Guinea   NaN
162  POL            Poland   NaN
163  POR          Portugal   NaN
164  PRK       North Korea   NaN
165  PUR       Puerto Rico   NaN

In [227]:
Q_sort = df_regions[df_regions['NOC'].str.startswith('Q')]

Q_sort

     NOC region notes
166  QAT  Qatar   NaN

In [228]:
R_sort = df_regions[df_regions['NOC'].str.startswith('R')]

R_sort

     NOC        region                 notes
167  RHO      Zimbabwe                   NaN
168  ROT           NaN  Refugee Olympic Team
169  ROU       Romania                   NaN
170  RSA  South Africa                   NaN
171  RUS        Russia                   NaN
172  RWA        Rwanda                   NaN

In [229]:
S_sort = df_regions[df_regions['NOC'].str.startswith('S')]

S_sort

     NOC                 region                     notes
173  SAA                Germany                       NaN
174  SAM                  Samoa                       NaN
175  SCG                 Serbia     Serbia and Montenegro
176  SEN                Senegal                       NaN
177  SEY             Seychelles                       NaN
178  SIN              Singapore                       NaN
179  SKN            Saint Kitts  Turks and Caicos Islands
180  SLE           Sierra Leone                       NaN
181  SLO               Slovenia                       NaN
182  SMR             San Marino                       NaN
183  SOL        Solomon Islands                       NaN
184  SOM                Somalia                       NaN
185  SRB                 Serbia                       NaN
186  SRI              Sri Lanka                       NaN
187  SSD            South Sudan                       NaN
188  STP  Sao Tome and Principe                       NaN
189  SUD                  Sudan                       NaN
190  SUI            Switzerland                       NaN
191  SUR               Suriname                       NaN
192  SVK               Slovakia                       NaN
193  SWE                 Sweden                       NaN
194  SWZ              Swaziland                       NaN
195  SYR                  Syria                       NaN

In [230]:
T_sort = df_regions[df_regions['NOC'].str.startswith('T')]

T_sort

     NOC          region                notes
196  TAN        Tanzania                  NaN
197  TCH  Czech Republic                  NaN
198  TGA           Tonga                  NaN
199  THA        Thailand                  NaN
200  TJK      Tajikistan                  NaN
201  TKM    Turkmenistan                  NaN
202  TLS     Timor-Leste                  NaN
203  TOG            Togo                  NaN
204  TPE          Taiwan                  NaN
205  TTO        Trinidad  Trinidad and Tobago
206  TUN         Tunisia                  NaN
207  TUR          Turkey                  NaN
208  TUV             NaN               Tuvalu

In [231]:
U_sort = df_regions[df_regions['NOC'].str.startswith('U')]

U_sort

     NOC                region                 notes
209  UAE  United Arab Emirates                   NaN
210  UAR                 Syria  United Arab Republic
211  UGA                Uganda                   NaN
212  UKR               Ukraine                   NaN
213  UNK                   NaN               Unknown
214  URS                Russia                   NaN
215  URU               Uruguay                   NaN
216  USA                   USA                   NaN
217  UZB            Uzbekistan                   NaN

In [232]:
V_sort = df_regions[df_regions['NOC'].str.startswith('V')]

V_sort

#vnm 
#vie

     NOC         region notes
218  VAN        Vanuatu   NaN
219  VEN      Venezuela   NaN
220  VIE        Vietnam   NaN
221  VIN  Saint Vincent   NaN
222  VNM        Vietnam   NaN

In [233]:
W_sort = df_regions[df_regions['NOC'].str.startswith('W')]

W_sort

     NOC    region                   notes
223  WIF  Trinidad  West Indies Federation

In [234]:
X_sort = df_regions[df_regions['NOC'].str.startswith('X')]

X_sort

Empty DataFrame
Columns: [NOC, region, notes]
Index: []

In [235]:
Y_sort = df_regions[df_regions['NOC'].str.startswith('Y')]

Y_sort

     NOC  region        notes
224  YAR   Yemen  North Yemen
225  YEM   Yemen          NaN
226  YMD   Yemen  South Yemen
227  YUG  Serbia   Yugoslavia

In [236]:
Z_sort = df_regions[df_regions['NOC'].str.startswith('Z')]

Z_sort

     NOC    region notes
228  ZAM    Zambia   NaN
229  ZIM  Zimbabwe   NaN

In [237]:
regions = df_regions["region"]
df_regions[regions.isin(regions[regions.duplicated()])].sort_values("region").reset_index(drop = True)

    NOC          region                   notes
0   ANZ       Australia             Australasia
1   AUS       Australia                     NaN
2   CAN          Canada                     NaN
3   NFL          Canada            Newfoundland
4   CHN           China                     NaN
5   HKG           China               Hong Kong
6   CZE  Czech Republic                     NaN
7   TCH  Czech Republic                     NaN
8   BOH  Czech Republic                 Bohemia
9   FRG         Germany                     NaN
10  GDR         Germany                     NaN
11  GER         Germany                     NaN
12  SAA         Germany                     NaN
13  CRT          Greece                   Crete
14  GRE          Greece                     NaN
15  MAL        Malaysia                     NaN
16  MAS        Malaysia                     NaN
17  NBO        Malaysia            North Borneo
18  URS          Russia                     NaN
19  RUS          Russia                     NaN
20  EUN          Russia                     NaN
21  SCG          Serbia   Serbia and Montenegro
22  SRB          Serbia                     NaN
23  YUG          Serbia              Yugoslavia
24  SYR           Syria                     NaN
25  UAR           Syria    United Arab Republic
26  TTO        Trinidad     Trinidad and Tobago
27  WIF        Trinidad  West Indies Federation
28  VIE         Vietnam                     NaN
29  VNM         Vietnam                     NaN
30  YEM           Yemen                     NaN
31  YAR           Yemen             North Yemen
32  YMD           Yemen             South Yemen
33  RHO        Zimbabwe                     NaN
34  ZIM        Zimbabwe                     NaN
35  ROT             NaN    Refugee Olympic Team
36  TUV             NaN                  Tuvalu
37  UNK             NaN                 Unknown

In [238]:
# 37 cayman island british
# 71 Micronesia en grupp av länder
# 88 HGK china
# 93 IOA, Individual Olympic Athletes	 
# 99 virgin islands, US
# 101 Virgin Ilands, brithis
# 110 Kosvo? 
# 168 ROT Refugee Olympic Team
# 171 RUS	Russia
# 175	SCG	Serbia	Serbia and Montenegro
# 188 Sao Tome and Principe	
#

In [239]:
df_regions.isna
regions_and = df_regions[df_regions['region'].str.contains('and')]
regions_and

ValueError: Cannot mask with non-boolean array containing NA / NaN values

In [ ]:
# df_regions.isna().sum()

# df_regions[df_regions["region"].isna()]

df_regions['region'] = df_regions['region'].fillna("missing")]

#region 'missing' 

# 168 remove
# 208 
# unk remove

## plan1 lägg kolumn 
#

SyntaxError: unmatched ']' (1301459862.py, line 5)

In [ ]:
df_regions['region'] = df_regions['region'].fillna("missing")

regions_and = df_regions[df_regions['region'].str.contains('and')]
regions_and

     NOC                   region           notes
23   BIH   Bosnia and Herzegovina             NaN
37   CAY           Cayman Islands             NaN
45   COK             Cook Islands             NaN
68   FIN                  Finland             NaN
95   IRL                  Ireland             NaN
97   ISL                  Iceland             NaN
99   ISV       Virgin Islands, US  Virgin Islands
101  IVB  Virgin Islands, British             NaN
132  MHL         Marshall Islands             NaN
145  NED              Netherlands             NaN
152  NZL              New Zealand             NaN
162  POL                   Poland             NaN
172  RWA                   Rwanda             NaN
183  SOL          Solomon Islands             NaN
188  STP    Sao Tome and Principe             NaN
190  SUI              Switzerland             NaN
194  SWZ                Swaziland             NaN
199  THA                 Thailand             NaN
211  UGA                   Uganda             NaN

## B
vilka länder är med?

---
## Elias:

In [ ]:
import pandas as pd
import regex as re

Athlete_events = pd.read_csv("Data/athlete_events.csv")
Noc_regions = pd.read_csv("Data/noc_regions.csv")

df_athlete = pd.DataFrame(Athlete_events)
df_regions = pd.DataFrame(Noc_regions)

ModuleNotFoundError: No module named 'regex'

In [ ]:
df_athlete.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df_regions.head(50)

    NOC                            region                 notes
0   AFG                       Afghanistan                   NaN
1   AHO                           Curacao  Netherlands Antilles
2   ALB                           Albania                   NaN
3   ALG                           Algeria                   NaN
4   AND                           Andorra                   NaN
5   ANG                            Angola                   NaN
6   ANT                           Antigua   Antigua and Barbuda
7   ANZ                         Australia           Australasia
8   ARG                         Argentina                   NaN
9   ARM                           Armenia                   NaN
10  ARU                             Aruba                   NaN
11  ASA                    American Samoa                   NaN
12  AUS                         Australia                   NaN
13  AUT                           Austria                   NaN
14  AZE                        Azerbaijan                   NaN
15  BAH                           Bahamas                   NaN
16  BAN                        Bangladesh                   NaN
17  BAR                          Barbados                   NaN
18  BDI                           Burundi                   NaN
19  BEL                           Belgium                   NaN
20  BEN                             Benin                   NaN
21  BER                           Bermuda                   NaN
22  BHU                            Bhutan                   NaN
23  BIH            Bosnia and Herzegovina                   NaN
24  BIZ                            Belize                   NaN
25  BLR                           Belarus                   NaN
26  BOH                    Czech Republic               Bohemia
27  BOL                            Boliva                   NaN
28  BOT                          Botswana                   NaN
29  BRA                            Brazil                   NaN
30  BRN                           Bahrain                   NaN
31  BRU                            Brunei                   NaN
32  BUL                          Bulgaria                   NaN
33  BUR                      Burkina Faso                   NaN
34  CAF          Central African Republic                   NaN
35  CAM                          Cambodia                   NaN
36  CAN                            Canada                   NaN
37  CAY                    Cayman Islands                   NaN
38  CGO                 Republic of Congo                   NaN
39  CHA                              Chad                   NaN
40  CHI                             Chile                   NaN
41  CHN                             China                   NaN
42  CIV                       Ivory Coast                   NaN
43  CMR                          Cameroon                   NaN
44  COD  Democratic Republic of the Congo                   NaN
45  COK                      Cook Islands                   NaN
46  COL                          Colombia                   NaN
47  COM                           Comoros                   NaN
48  CPV                        Cape Verde                   NaN
49  CRC                        Costa Rica                   NaN

In [ ]:
df_regions.shape # 230 rows × 3 columns
# how many nans in notes column
df_regions['notes'].isnull().sum() # 206
# how big is the proportion of nans in notes column
206/230 # 0.8967

0.8956521739130435

In [ ]:
regions = df_regions["region"]
df_regions[regions.isin(regions[regions.duplicated()])].sort_values("region").reset_index(drop = True)

    NOC          region                   notes
0   ANZ       Australia             Australasia
1   AUS       Australia                     NaN
2   CAN          Canada                     NaN
3   NFL          Canada            Newfoundland
4   CHN           China                     NaN
5   HKG           China               Hong Kong
6   CZE  Czech Republic                     NaN
7   TCH  Czech Republic                     NaN
8   BOH  Czech Republic                 Bohemia
9   FRG         Germany                     NaN
10  GDR         Germany                     NaN
11  GER         Germany                     NaN
12  SAA         Germany                     NaN
13  GRE          Greece                     NaN
14  CRT          Greece                   Crete
15  MAL        Malaysia                     NaN
16  MAS        Malaysia                     NaN
17  NBO        Malaysia            North Borneo
18  EUN          Russia                     NaN
19  URS          Russia                     NaN
20  RUS          Russia                     NaN
21  SRB          Serbia                     NaN
22  YUG          Serbia              Yugoslavia
23  SCG          Serbia   Serbia and Montenegro
24  SYR           Syria                     NaN
25  UAR           Syria    United Arab Republic
26  TTO        Trinidad     Trinidad and Tobago
27  WIF        Trinidad  West Indies Federation
28  VNM         Vietnam                     NaN
29  VIE         Vietnam                     NaN
30  YMD           Yemen             South Yemen
31  YEM           Yemen                     NaN
32  YAR           Yemen             North Yemen
33  ZIM        Zimbabwe                     NaN
34  RHO        Zimbabwe                     NaN
35  TUV         missing                  Tuvalu
36  UNK         missing                 Unknown
37  ROT         missing    Refugee Olympic Team

In [ ]:
# which sport is included?
df_athlete["Sport"].unique()

array(['Basketball', 'Judo', 'Football', 'Tug-Of-War', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Handball', 'Weightlifting',
       'Wrestling', 'Luge', 'Water Polo', 'Hockey', 'Rowing', 'Bobsleigh',
       'Fencing', 'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo',
       'Cycling', 'Diving', 'Canoeing', 'Tennis', 'Modern Pentathlon',
       'Figure Skating', 'Golf', 'Softball', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Table Tennis', 'Nordic Combined',
       'Baseball', 'Rhythmic Gymnastics', 'Freestyle Skiing',
       'Rugby Sevens', 'Trampolining', 'Beach Volleyball', 'Triathlon',
       'Ski Jumping', 'Curling', 'Snowboarding', 'Rugby',
       'Short Track Speed Skating', 'Skeleton', 'Lacrosse', 'Polo',
       'Cricket', 'Racquets', 'Motorboating', 'Military Ski Patrol',
       'Croquet', 'Jeu De Paume', 'Roque', 'Alpinism', 'Basque Pelota',
       'Aeronautics'], dtype=object)

In [ ]:
len(df_athlete["Sport"].unique())

66

In [ ]:
# what type of medals are there?
df_athlete["Medal"].unique()

array([nan, 'Gold', 'Bronze', 'Silver'], dtype=object)

In [ ]:
# check missing values in Medal
df_athlete["Medal"].isnull().sum()

231333

In [ ]:
# check wich sport has missing values in Medal
df_athlete[df_athlete["Medal"].isnull()]["Sport"].unique()

array(['Basketball', 'Judo', 'Football', 'Speed Skating',
       'Cross Country Skiing', 'Athletics', 'Ice Hockey', 'Swimming',
       'Badminton', 'Sailing', 'Biathlon', 'Gymnastics',
       'Art Competitions', 'Alpine Skiing', 'Weightlifting', 'Wrestling',
       'Luge', 'Water Polo', 'Rowing', 'Bobsleigh', 'Fencing',
       'Equestrianism', 'Shooting', 'Boxing', 'Taekwondo', 'Cycling',
       'Diving', 'Canoeing', 'Tennis', 'Handball', 'Hockey',
       'Figure Skating', 'Golf', 'Archery', 'Volleyball',
       'Synchronized Swimming', 'Modern Pentathlon', 'Table Tennis',
       'Nordic Combined', 'Baseball', 'Rhythmic Gymnastics',
       'Freestyle Skiing', 'Rugby Sevens', 'Trampolining',
       'Beach Volleyball', 'Triathlon', 'Ski Jumping', 'Snowboarding',
       'Softball', 'Short Track Speed Skating', 'Skeleton', 'Tug-Of-War',
       'Curling', 'Polo', 'Motorboating', 'Military Ski Patrol',
       'Jeu De Paume', 'Croquet', 'Racquets', 'Roque'], dtype=object)

In [ ]:
# how important are the missing values in Medal?
df_athlete["Medal"].isnull().sum() / len(df_athlete)

0.853262072323286

In [ ]:
# which sport has medal values?
df_athlete[df_athlete["Medal"].notnull()]["Sport"].unique()

array(['Tug-Of-War', 'Swimming', 'Ice Hockey', 'Gymnastics',
       'Alpine Skiing', 'Handball', 'Hockey', 'Rowing', 'Football',
       'Speed Skating', 'Sailing', 'Cycling', 'Fencing', 'Taekwondo',
       'Athletics', 'Canoeing', 'Water Polo', 'Wrestling',
       'Modern Pentathlon', 'Figure Skating', 'Golf', 'Softball',
       'Boxing', 'Basketball', 'Nordic Combined', 'Diving', 'Baseball',
       'Volleyball', 'Cross Country Skiing', 'Bobsleigh', 'Curling',
       'Shooting', 'Judo', 'Equestrianism', 'Tennis', 'Rugby Sevens',
       'Rhythmic Gymnastics', 'Weightlifting', 'Badminton',
       'Beach Volleyball', 'Ski Jumping', 'Rugby',
       'Short Track Speed Skating', 'Biathlon', 'Lacrosse',
       'Synchronized Swimming', 'Archery', 'Freestyle Skiing',
       'Triathlon', 'Polo', 'Luge', 'Table Tennis', 'Snowboarding',
       'Cricket', 'Skeleton', 'Racquets', 'Military Ski Patrol',
       'Croquet', 'Art Competitions', 'Roque', 'Alpinism', 'Trampolining',
       'Basque Pelota', 'Motorboating', 'Jeu De Paume', 'Aeronautics'],
      dtype=object)

In [ ]:
df_athlete[df_athlete["Medal"].isna()].groupby("Sport")["Medal"].count()

Sport
Alpine Skiing                0
Archery                      0
Art Competitions             0
Athletics                    0
Badminton                    0
Baseball                     0
Basketball                   0
Beach Volleyball             0
Biathlon                     0
Bobsleigh                    0
Boxing                       0
Canoeing                     0
Croquet                      0
Cross Country Skiing         0
Curling                      0
Cycling                      0
Diving                       0
Equestrianism                0
Fencing                      0
Figure Skating               0
Football                     0
Freestyle Skiing             0
Golf                         0
Gymnastics                   0
Handball                     0
Hockey                       0
Ice Hockey                   0
Jeu De Paume                 0
Judo                         0
Luge                         0
Military Ski Patrol          0
Modern Pentathlon            0
Motorboating                 0
Nordic Combined              0
Polo                         0
Racquets                     0
Rhythmic Gymnastics          0
Roque                        0
Rowing                       0
Rugby Sevens                 0
Sailing                      0
Shooting                     0
Short Track Speed Skating    0
Skeleton                     0
Ski Jumping                  0
Snowboarding                 0
Softball                     0
Speed Skating                0
Swimming                     0
Synchronized Swimming        0
Table Tennis                 0
Taekwondo                    0
Tennis                       0
Trampolining                 0
Triathlon                    0
Tug-Of-War                   0
Volleyball                   0
Water Polo                   0
Weightlifting                0
Wrestling                    0
Name: Medal, dtype: int64

In [ ]:
# how many medals are there in each sport?
df_athlete[df_athlete["Medal"].notnull()].groupby("Sport")["Medal"].count().sum()

39783

In [ ]:
# sort winter olympics in a dataframe
df_winter = df_athlete[df_athlete["Season"] == "Winter"].reset_index(drop=True)
df_winter.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
1,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
2,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
3,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
4,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
# check missing values in Medal for winter olympics
df_winter["Medal"].isnull().sum()

42869

In [ ]:
# wich team has the most missing values in Medal for winter olympics?
df_winter[df_winter["Medal"].isnull()].groupby("Team")["Medal"].count().sort_values(ascending=False)

Team
Albania          0
Puerto Rico-1    0
Pakistan         0
Paraguay         0
Peru             0
                ..
Guam             0
Guatemala        0
Honduras         0
Hong Kong        0
Zimbabwe         0
Name: Medal, Length: 221, dtype: int64

In [ ]:
# sort summer olympics in a dataframe
df_summer = df_athlete[df_athlete["Season"] == "Summer"].reset_index(drop=True)
df_summer.head()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN

In [ ]:
# check missing values in Medal for summer olympics
df_summer["Medal"].isnull().sum()

188464

---
## Andreas

## E - Age Statistics

In [ ]:
import pandas as pd
import plotly_express as px
from datetime import datetime
from dateutil.relativedelta import relativedelta

df_athlete = pd.read_csv("Data/athlete_events.csv", parse_dates = ["Year"])
df_regions = pd.read_csv("Data/noc_regions.csv")

In [ ]:
df_regions.head(2) # no relevant stats for age, skipping this dataset in my exploration

   NOC       region                 notes
0  AFG  Afghanistan                   NaN
1  AHO      Curacao  Netherlands Antilles

In [ ]:
df_athlete.head() # contains all the age statistics, this is the dataset i will focus on

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [ ]:
df_athlete.info() # some missing values in age data

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 271116 entries, 0 to 271115
Data columns (total 15 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   ID      271116 non-null  int64
 1   Name    271116 non-null  object
 2   Sex     271116 non-null  object
 3   Age     261642 non-null  float64
 4   Height  210945 non-null  float64
 5   Weight  208241 non-null  float64
 6   Team    271116 non-null  object
 7   NOC     271116 non-null  object
 8   Games   271116 non-null  object
 9   Year    271116 non-null  int64
 10  Season  271116 non-null  object
 11  City    271116 non-null  object
 12  Sport   271116 non-null  object
 13  Event   271116 non-null  object
 14  Medal   39783 non-null   object
dtypes: float64(3), int64(2), object(10)
memory usage: 31.0+ MB

---
### Exploring Missing Values
As we can see, there are a lot of null values for age (also height and weight)  
My hypothesis moving forward is that these will come from mostly older datapoints where records were not kept as strictly as they are today  
I will be exploring this in below section:

In [ ]:
df_missing_age = df_athlete[df_athlete["Age"].isna()].sort_values(by = "Year", ascending = False).reset_index(drop = True)
df_missing_age

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Uneven Bars,NaN
1,19504,Cha Yong-Hwa,F,NaN,145.0,39.0,North Korea,PRK,2008 Summer,2008,Summer,Beijing,Gymnastics,Gymnastics Women's Individual All-Around,NaN
2,81706,Moosaka,F,NaN,NaN,NaN,Uganda,UGA,2000 Summer,2000,Summer,Sydney,Table Tennis,Table Tennis Women's Singles,NaN
3,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Two,NaN
4,71557,"Christopher Paul ""Chris"" Lori",M,NaN,NaN,NaN,Canada-2,CAN,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9469,57436,Tilemakhos Karakalos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Fencing,"Fencing Men's Sabre, Individual",Silver
9470,57440,Karakatsanis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Free Rifle, Three Positions, 30...",NaN
9471,57441,Konstantinos Karakatsanis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Athletics,"Athletics Men's 1,500 metres",NaN
9472,80474,Ioannis Mitropoulos,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Gymnastics,Gymnastics Men's Rings,Gold
9473,91114,Pantazidis,M,NaN,NaN,NaN,Greece,GRE,1896 Summer,1896,Summer,Athina,Shooting,"Shooting Men's Military Pistol, 25 metres",NaN

In [ ]:
# control calculation to see that we got all missing values in above dataframe
len(df_athlete) - len(df_athlete["Age"].dropna()) # subtracting non-nulls from all values we get the amount of nulls, which is correctly 9474

9474

Without manually going through over 9000 rows of data, these missing age values are hard to do anything about  
The remaining question then is how large their significance is, both in terms of amount of values, but also in terms of how recent they are  

### Looking at statistical significance of missing values over the entire dataset:

In [ ]:
print(f"Missing age values make up {len(df_missing_age) / len(df_athlete) * 100:.2f}% of the dataset, which is not a highly significant amount")

Missing age values make up 3.49% of the dataset, which is not a highly significant amount

### Looking at statistical significance of missing values over time:

In [269]:
# getting amount of missing values per year
missing_age_values = df_athlete["Age"].isna().groupby(df_athlete["Year"]).sum().reset_index()
missing_age_values.rename(columns = {"Age": "Amount of Missing Values"}, inplace = True)
missing_age_values.head()

   Year  Amount of Missing Values
0  1896                       163
1  1900                       790
2  1904                       274
3  1906                       743
4  1908                       649

In [240]:
# plotting based on missing values
px.bar(missing_age_values, x = "Year", y = "Amount of Missing Values")

In [311]:
# getting relative amount of missing values per year by dividing by total amount of age datapoints per year

# NOTE how the calculation is done here:
# the nominator needs to use .sum() rather than .count() or len()
# it is a groupby object of booleans, where count would count both the True and False, sum() only "counts" True (since they have the value 1)

# the denominator needs to use .count() rather than .sum()
# to not sum up the value of all ages

# finally multiplying by 100 to get the result as percentages

missing_age_values_relative = df_athlete["Age"].isna().groupby(df_athlete["Year"]).sum() / df_athlete.groupby(by = "Year")["Age"].count() * 100
missing_age_values_relative.rename("Missing Age Values", inplace = True) # renaming the series
missing_age_values_relative.head()

Year
1896    75.115207
1900    68.935428
1904    26.679649
1906    75.050505
1908    26.468189
Name: Missing Age Values, dtype: float64

As we can clearly see with this last graph, the missing values in age records stays below 2.5% in the recent 60+ years  
Earlier than that, we can see some spikes in missing values  

Here we can clearly see the hypothesis of records being less accurate the further back we go  
Either due to less strict record keeping, or due to records being lost over time

In [312]:
# plotting based on relative numbers
fig = px.bar(missing_age_values_relative, labels = {"value": "Percentage of Missing Values"}, title = "Percentage of Missing Values in Age Records per Year")
fig.update_layout(showlegend=False)
fig.show()

Looking at amount of competitors and amount of missing age values side-by-side  
Here we can really get a sense of how small the amount of missing values is  
Even in earlier years where the percentages are as high as 75%, the amount of competitors was so low that it has a very low impact

Again we can see the fact that the records from older years are less complete in terms of age records

In [328]:
import plotly.graph_objects as go

fig = px.bar(df_athlete.groupby(by = "Year")["Age"].count())

fig.add_bar(x = missing_age_values["Year"], y = missing_age_values["Amount of Missing Values"])

fig.update_layout(barmode = "group")

fig.show()

---
### Getting to the Answer

Average, Median, Min, Max, Standard Deviation

In [ ]:
df_athlete.describe()

,ID,Age,Height,Weight,Year
count,271116.000000,261642.000000,210945.000000,208241.000000,271116.000000
mean,68248.954396,25.556898,175.338970,70.702393,1978.378480
std,39022.286345,6.393561,10.518462,14.348020,29.877632
min,1.000000,10.000000,127.000000,25.000000,1896.000000
25%,34643.000000,21.000000,168.000000,60.000000,1960.000000
50%,68205.000000,24.000000,175.000000,70.000000,1988.000000
75%,102097.250000,28.000000,183.000000,79.000000,2002.000000
max,135571.000000,97.000000,226.000000,214.000000,2016.000000

In [ ]:
# since mean is not always the same as average, calculating average manually to make sure we get the correct numbers

# sum of ages of all athletes and amount of non-NaN values in age column
# NOTE: important to take non-NaNs for amount as they do not add anything to the .sum()
print(f"Sum of all ages: \n{df_athlete['Age'].sum()}")
print(f"Amount of datapoints: \n{len(df_athlete['Age'].dropna())}\n")

# calculating average by taking the sum of all values divided by the total number of values in series "Age"
print(f"Average age: \n{df_athlete['Age'].sum() / len(df_athlete['Age'].dropna())}")
print(f"Same as mean: {df_athlete['Age'].sum() / len(df_athlete['Age'].dropna()) == df_athlete['Age'].mean()}")

Sum of all ages:
6686758.0
Amount of datapoints:
261642

Average age:
25.556898357297374
Same as mean: True

In [ ]:
df_athlete["Age"].median().astype(int)

24

In [ ]:
df_athlete["Age"].min().astype(int)

10

In [ ]:
df_athlete["Age"].max().astype(int)

97

In [ ]:
df_athlete["Age"].std()

6.393560847035813

In [ ]:
# TODO plot age curve
# group by age to get x = age, and y = amount of contestants of each age

---
quick look at countries

In [ ]:
df_regions.info() # 3 null values on region

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   NOC     230 non-null    object
 1   region  227 non-null    object
 2   notes   21 non-null     object
dtypes: object(3)
memory usage: 5.5+ KB

In [ ]:
df_regions[df_regions["region"].isna() == True]
# TODO: Tuvalu is a region, set Tuvalu region to Tuvalu
# leave the other two as NaN or potentially drop them, depending on how NOCs are used in future exploration

     NOC region                 notes
168  ROT    NaN  Refugee Olympic Team
208  TUV    NaN                Tuvalu
213  UNK    NaN               Unknown

In [ ]:
len(df_regions["NOC"].unique()) # all NOC values are unique, so there are no duplicates there

230

In [ ]:
len(df_regions["region"].unique()) # there are, however, duplicates in region, with regions being represented multiple times under different NOCs

207

In [ ]:
# looking at all the duplicates in region
regions = df_regions["region"]
df_regions[regions.isin(regions[regions.duplicated()])].sort_values("region").reset_index(drop = True)

    NOC          region                   notes
0   ANZ       Australia             Australasia
1   AUS       Australia                     NaN
2   CAN          Canada                     NaN
3   NFL          Canada            Newfoundland
4   CHN           China                     NaN
5   HKG           China               Hong Kong
6   CZE  Czech Republic                     NaN
7   TCH  Czech Republic                     NaN
8   BOH  Czech Republic                 Bohemia
9   FRG         Germany                     NaN
10  GDR         Germany                     NaN
11  GER         Germany                     NaN
12  SAA         Germany                     NaN
13  CRT          Greece                   Crete
14  GRE          Greece                     NaN
15  MAL        Malaysia                     NaN
16  MAS        Malaysia                     NaN
17  NBO        Malaysia            North Borneo
18  URS          Russia                     NaN
19  RUS          Russia                     NaN
20  EUN          Russia                     NaN
21  SCG          Serbia   Serbia and Montenegro
22  SRB          Serbia                     NaN
23  YUG          Serbia              Yugoslavia
24  SYR           Syria                     NaN
25  UAR           Syria    United Arab Republic
26  TTO        Trinidad     Trinidad and Tobago
27  WIF        Trinidad  West Indies Federation
28  VIE         Vietnam                     NaN
29  VNM         Vietnam                     NaN
30  YEM           Yemen                     NaN
31  YAR           Yemen             North Yemen
32  YMD           Yemen             South Yemen
33  RHO        Zimbabwe                     NaN
34  ZIM        Zimbabwe                     NaN
35  ROT             NaN    Refugee Olympic Team
36  TUV             NaN                  Tuvalu
37  UNK             NaN                 Unknown

In [ ]:
# method for finding any region with a substring in it
# for example "iet" here returns Vietnam
# useful check to see if there are things such as South X, North X, Republic of X etc
# and then evaluate if they need to be edited or left as they are
serie = df_regions["region"].dropna()
result = serie.str.contains(pat = 'iet')

serie[result]

220    Vietnam
222    Vietnam
Name: region, dtype: object