In [20]:
# high performnce pandas


# mask (x > .5) & (y <.5)
#df[df[mask]]


# under the hood
# tmp1 = (x >.5)
# tmp2 = (y < .5)
# mask = tmp1 & tmp2


# use pd.eval("") -> does elemetnwise operation with numexpr
# df.querry() -> does elementwise operation with numexpr

In [21]:
import numpy as np
import pandas as pd

nrows, ncols = 1_000_000, 100

df1,df2,df3,df4 = [pd.DataFrame(np.random.randn(nrows, ncols)) for _ in range(4)]

In [22]:
%timeit df1+df2+df3+df4
%timeit pd.eval("df1+df2+df3+df4")

1.4 s ± 218 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)
1.12 s ± 20.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [23]:
stanard = df1+df2+df3+df4

sum_eval = pd.eval("df1+df2+df3+df4")

sum_eval.equals(stanard)

True

In [24]:
rolls = pd.DataFrame(np.random.randint(1,6, (6,3)), columns = ["Die1", "Die2", "Die3"])

rolls

   Die1  Die2  Die3
0     4     5     2
1     3     5     1
2     3     5     3
3     3     5     2
4     3     2     2
5     3     3     2

In [25]:
rolls.eval("Sum = Die1 + Die2 + Die3 ", inplace=True)

In [36]:
high = 11
rolls.eval("Winner = Sum > @high")

   Die1  Die2  Die3  Sum  Winner
0     4     5     2   11   False
1     3     5     1    9   False
2     3     5     3   11   False
3     3     5     2   10   False
4     3     2     2    7   False
5     3     3     2    8   False

In [39]:
rolls[rolls["Sum"]> high]

Empty DataFrame
Columns: [Die1, Die2, Die3, Sum]
Index: []

#query

In [40]:
rolls.query("Sum > @high & Die1 ==3")

Empty DataFrame
Columns: [Die1, Die2, Die3, Sum]
Index: []

```py