In [8]:
import hashlib as hl


string_to_hash= "supersäkert_lössen".encode()
string_to_hash1= "Supersäkert_lössen".encode()

hl.sha256(string_to_hash).hexdigest(), hl.sha256(string_to_hash1).hexdigest()

('4b8d6472f0edacb5839df7403939b87dffff23bafc1720ec4e19d5bdfa7a43f6',
 '9b782a83828633e3cc0ce68e013bc6fb7db5159691972803f497777f91a945c7')

In [9]:
import pandas as pd
df = pd.read_csv("../Databehandling-Project/data/BankChurners.csv", usecols = ["CLIENTNUM", "Attrition_Flag", "Customer_Age", "Gender", "Total_Trans_Amt"])

In [10]:
df['CLIENTNUM']

0        768805383
1        818770008
2        713982108
3        769911858
4        709106358
           ...
10122    772366833
10123    710638233
10124    716506083
10125    717406983
10126    714337233
Name: CLIENTNUM, Length: 10127, dtype: int64

In [11]:
df['CLIENTNUM'] = df["CLIENTNUM"].astype(str)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10127 entries, 0 to 10126
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CLIENTNUM        10127 non-null  object
 1   Attrition_Flag   10127 non-null  object
 2   Customer_Age     10127 non-null  int64
 3   Gender           10127 non-null  object
 4   Total_Trans_Amt  10127 non-null  int64
dtypes: int64(2), object(3)
memory usage: 395.7+ KB

In [14]:
hashes_clientnum = df["CLIENTNUM"].apply(lambda x: hl.sha256(x.encode()).hexdigest())

In [15]:
df.insert(1, "hashes_clientnum", hashes_clientnum)
df.head()

,CLIENTNUM,hashes_clientnum,Attrition_Flag,Customer_Age,Gender,Total_Trans_Amt
0,768805383,c9bbef56f9d8292cb3cfa8ae91f9b9167390e6e4b514d5...,Existing Customer,45,M,1144
1,818770008,7996e2340d70489252370a5df035ec99381c8344cc3511...,Existing Customer,49,F,1291
2,713982108,6fb53dbc743724e086243b5bc288df62b4a6dc1b8bde92...,Existing Customer,51,M,1887
3,769911858,f86b86a1047317685f29c399059b199858685faf5ec6a8...,Existing Customer,40,F,1171
4,709106358,0d239470b0cb57e110cf60bc3865344ee2cdced6e3acdc...,Existing Customer,40,M,816